/DUNGEON ENCOUNTERS_Data_backup/
/DUNGEON ENCOUNTERS_Data/
/DUNGEON ENCOUNTERS.exe
/analysis.json
/config.json
/GameAssembly.dll
/unins000.dat
/unins000.exe
/UnityCrashHandler64.exe
/UnityPlayer.dll
/.idea/
/.venv/
